.main-wrapper {
    display: grid;
    grid-template-areas: 
    'sidebar main'
    'sidebar main'
    'footer footer';
    grid-template-columns: 250px;
}

.main {
    background: #121212;
    height: calc(100vh - 100px);
    grid-area: main;
    right: 0;
    padding: 100px 30px 0;
    overflow-y: scroll;
    width: 1fr;
}