.sidebar {
    background: #040404;
    color: #fff;
    height: calc(100vh - 100px);
    left: 0;
    grid-area: sidebar;
}

.sidebar li { opacity: .7; }

.sidebar li:hover { opacity: 1; }

.sidebar-items {
    padding: 30px 25px 0;
}

.sidebar-list {
    margin: 0 -15px 5px;
}

.sidebar-list li {
    align-items: center;
    border-radius: 4px;
    display: flex;
    padding: 5px 15px;
}

.sidebar-list li.active {
    background: #282828;
}

.sidebar-list_icon {
    font-size: 2.5em;
    padding-right: 15px;
}

.sidebar-divider {
    border-color: #282828;
    height: 1px;
    margin: 0 25px;
}

.sidebar-playlists {
    padding: 15px 25px;
    max-height: 250px;
    overflow-y: scroll;
}

.sidebar-playlists li {
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}